.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}
/* NAVBAR */

.navbar {
  width: 100%;
  height: 70px;
  background-color: rgb(173, 173, 173);
  display: flex;
  justify-content: space-between; /* To separate the two sections */

  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}
.navbar button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  background-color: white;
  float: right;
}

.navbar h1 {
  text-align: right;
  margin-right: 10px;
  color: white;
  font-size: 16px;
  font-weight: lighter;
}
.navbar .links {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar .loggedInContainer {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
